.App {
  position: relative;
  max-width: 32rem;
  min-height: 44rem;
  margin: 3rem auto;
  padding: 4rem 3.5rem;
  background-color: #ffffff;
  box-shadow: 0 .5rem .9rem rgba(207, 211, 218, 0.35);
  animation: slideOutDown .55s both;
}

@keyframes slideOutDown {
  0% {
    transform: translateY(-14rem);
  }
  100% {
    transform: translateY(0);
  }
} 