.header {
  display: flex;
  color: #616473;

  &__day {
    font-size: 3.2rem;
    font-weight: 700;
  }

  &__month-year,
  &__weekday {
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  &__month-year {
    margin: auto .7rem auto;
    p {
      margin: .3rem;
    }
  }

  &__month,
  &__weekday {
    font-weight: 700;
  }

  &__weekday {
    margin: auto 0 auto auto;
  }
}

