.sorting {

  &-icon {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 2.25rem;
    height: 2.25rem;
    background-image: url('../assets/img/sorting.svg');
    background-size: cover;
    cursor: pointer;
    filter: brightness(0.98);

    &:hover {
      filter: brightness(0.96);
    }
  }

  &__options {
    position: absolute;
    top: 3.1rem;
    right: 3.55rem;
    background-color: #ffffff;
    border: 2px solid #eef0f5;
    border-radius: 2px;
    font-size: 1.25rem;
    color: #bdc0ca;
    z-index: 1;
    
    p {
      margin: 0;
      padding: 1rem .5rem;
      cursor: pointer;

      &:hover {
        color: #3e434f;
      }
    }
  }
}
