.tasks {
  .task {
    display: flex;
    margin-bottom: 2rem;

    &--active {
      .task-toggle {
        background-image: url('../assets/img/active.svg');
      }
      
      .task-toggle:hover {
        background-image: url('../assets/img/completed.png');
      }
    }

    &--completed {
      color: #bdc0ca;

      .task-toggle {
        background-image: url('../assets/img/completed.png');
      }

      .task-toggle:hover {
        background-image: url('../assets/img/active.svg');
      }
    }

    &__actions {
      margin-left: auto;

      span {
        display: inline-block;
        width: 1.85rem;
        height: 1.85rem;
        background-size: cover;
        cursor: pointer;
      }


      .task-remove {
        margin-left: .55rem;
        background-image: url('../assets/img/remove.svg');
        
        &:hover {
          filter: brightness(.9);
        }
      }
    }
  }
}
